$font-family: "Open Sans", Arial, Helvetica, sans-serif;
$font-family2: "Open Sans Bold", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    src: url(../assets/Fonts/OpenSans-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    src: url(../assets/Fonts/OpenSans-Bold.ttf) format("truetype");
}