@import '../../styles/mixins.scss';

.top {
    font-family: $font-family2;
    width: 100%;
    background-color: $black;

    @include tablet {
        height: 8rem;
    }

    &__title {
        display: flex;
        justify-content: center;
        flex-direction: row; 
        text-decoration: none;
        
        @include tablet {
            justify-content: flex-start;
            padding-top: 1rem;
        }
    }
    &__title-img {
        width: 2rem;
        padding: 2rem 0.5rem 1rem 0;

        @include tablet {
            width: 2.5rem;
            padding: 2rem;
            padding-right: 0.5rem;
        }
        @include desktop {
            padding-left: 4rem;
        }
    }
    &__title-text {
        margin: 0;
        padding-top: 2.2rem;
        font-size: 1.2rem;
        font-weight: 900;
        color: white;

        @include tablet {
            font-size: 1.5rem;
        }
    }
    &__container {
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        flex-wrap: wrap;
        margin-top: -1rem;
        padding-bottom: 1rem;
        
        @include tablet {
            transform: translate(-100%,-87%);
            left: 100%;
        }
    }

    &__container-text {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        z-index: 1;
        margin-top: -0.8rem;
        margin-left: 2rem;
        text-align: center;
        text-decoration: none;

        @include tablet {
            margin-top: -0.3rem;
            margin-left: 1.2rem;
        }

        @include desktop {
            margin-right: 4rem;
        }
    }

    &__login, &__register {
        text-decoration: none;
        padding: 0.5rem;
        color: $blue;
        font-family: $font-family;
        display: block;
    }

    &__login:hover, &__register:hover {
        background-color: $hover-light-blue;
        font-weight: 900;
    }
    &__container:hover &__container-text {
        display: flex;
        flex-direction: column;
    }
    &__container:hover &__button {
        background-color: $hover-blue;
    }

    &__login--container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: -1rem;
        padding-bottom: 1rem;
        
        @include tablet {
            flex-direction: column;
            align-items: flex-end;
            margin-top: -5.5rem;   
        }
    }
    &__login-container {
        margin-top: -1rem;

        @include tablet {
            margin-top: -6rem;
            padding-bottom: 2rem;
        }
    }
    &__button {
        text-align: center;
        padding: 0.5rem;
        background-color: $blue;
        border: none;
        border-radius: 6px; 
        font-family: $font-family2;
        font-size: 1rem;
        color: white;
        width: 10rem;
        margin: 1rem 1rem 1rem 2rem;
       

        @include tablet {
            margin: 1rem 2rem 0.5rem 1.2rem;
            font-size: 1.2rem;
        }

        @include desktop {
            margin-right: 4rem;
        }
    }
}
