@import '../../styles/mixins';
.maps {
    @include tablet {
        display: flex;
        justify-content: center;
    }
    &__loading {
        text-align: center;
    }
    &__container {
        height: 60vh;
        width: fill;
        margin: 1rem;

        @include tablet {
            width: 70vw;
        }
    }
    &__marker {
        max-width: 0.5rem;
        height: 0.5rem;
 
    }
}