@import '../../styles/mixins.scss';
@import '../../styles/fonts';

.search {
    background-color: $light-grey;
    margin: 0;
    width: 100vw;
    height: 80vh;
    padding-bottom: 0.5rem;

    &__text {
        margin: 0;
        padding: 2rem 2rem 0 2rem;
        font-weight: 500;
        

        @include tablet {
            padding: 4rem;
            padding-bottom: 2rem;
            text-align: center;
        }
    }

    &__form {
        background-color: white;
        margin: 1rem;
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 1rem;

        @include tablet {
            margin-right: 2.5rem;
            margin-left: 2.5rem;
            position: relative;
            padding: 2rem;
           
        }

        @include desktop {
            margin-right: 4.5rem;
            margin-left: 4.5rem;
        }
    }
    &__form-title {
        margin-bottom: 1rem;

        @include tablet {
            border-right: 1px solid $black;
            margin: 0;
            padding: 3rem 1rem 3rem 2rem;
            width: 25%;
        }
    }
    &__form-container {
        @include tablet {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 65%;
            position: absolute;
            left: 35%;
            top: 35%;
        }
    }
    &__form-input {
        padding: 0.5rem 1rem;
        border-radius: 6px; 
        font-family: $font-family;
        font-size: 1rem;
        width: fill;
        border: solid $blue;
        margin-bottom: 0.5rem;

        @include tablet {
            width: 100%;
            margin: 0;
            // margin-right: 1rem;
            padding: 1rem;
            // padding-right: 3.5rem;
        }
    }
    &__form-input::placeholder {
        color: black;

        @include tablet {
            font-size: 1.2rem;
        }
    }
    &__form-input:focus {
        border-color: $hover-blue;
        outline: none;
    }
    &__form-radio-div {
        margin-bottom: 2rem;

        @include tablet {
            order: 2;
            padding-top: 1rem;
        }
    }
    &__form-label {
        font-family: $font-family;
        font-size: 1rem;
        color: $blue;

        @include tablet {
            font-size: 1.2rem;
        }
    }
    &__form-radio {
        accent-color: $hover-blue;
    }
    &__form-button {
        text-align: center;
        padding: 0.5rem 1rem;
        background-color: $blue;
        border: none;
        border-radius: 6px; 
        font-family: $font-family2;
        font-size: 1rem;
        color: white;
        width: fill;
        margin-bottom: 1rem;

        @include tablet {
            padding: 1rem;
            width: 10rem;
            height: 3.4rem;
            margin: 0;
            margin-right: 1rem;
            margin-left: 3rem;
            font-size: 1.2rem;
        }

    }
    &__form-button:hover {
        background-color: $hover-blue;
    }
}
.pac-target-input {
    @include tablet {
        width: 100%;
        margin-right: 1rem;
    }
}