@import '../../styles/mixins';

.list {
    margin-top: -2rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    height: 100%;
    font-family: &font-family;
    @include tablet {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    &__title {
        margin: 0;
        padding: 3rem 2rem 0rem 2rem;
        text-align: center;    

        @include tablet {
            padding: 4rem;
            padding-bottom: 3rem;
        }
    }
    &__top-container {
        padding: 3rem 2rem 1rem 2rem;
        display: flex;
        justify-content: space-between;

        @include tablet {
            padding: 0 3rem 1rem 3rem;
        }
        @include desktop {
            padding: 0 7.5rem 1rem 7.5rem;
        }
    }
    &__link {
        text-decoration: underline;
        color: $blue;
        font-family:$font-family;
        
    }
    &__link:hover {
        font-weight: 900;
        color: $hover-blue;
        text-decoration: underline;
    }
    &__result-container {
        background-color: $light-blue;
        margin: 1rem 2rem 1rem 2rem;
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 1rem 2rem 1rem 2rem;
    
        @include tablet {
            margin-right: 7rem;
            margin-left: 7rem;
            position: relative;
            padding: 2rem 3rem 2rem 3rem;
            padding-top: 0;    
        }
        @include desktop {
            margin-right: 7rem;
            margin-left: 7rem;
            padding-left: 3.5rem;
            padding-right: 3.5rem;
        }
    }
    &__container {
        border-bottom: 1px solid $black;
        padding-top: 2rem;
        position: relative;
    }
    &__doctor-info {
        @include tablet {
        display: flex;
        justify-content: center;
        }
    }
    &__name {
        text-decoration: underline;
        margin-bottom: 0;
        @include tablet {
            padding-right: 1rem;
            font-size: 1.3rem;
        }
    }
    &__distance{
        position: absolute;
        font-family:$font-family;
        font-weight: 900;
        right: 0;
        top: 0;
        @include tablet {
            font-size: 1.1rem;
            left: 0;
        }
 
    }
    &__cpso {
       margin-top: 0;
        @include tablet {
            margin-top: 1.7rem;
            font-size: 0.9rem;
        }
    }
    &__info-container {
        @include tablet {
            text-align: center;
        }
    }
    &__specialty-title, &__address-title, &__contact-title {
        margin-bottom: 0;
    }
    &__specialty, &__phone {
        margin-top: 0;
    }
    &__hospital, &__street, &__address {
        margin: 0;
    }
    &__status-accepting {
        color: $hover-blue;
        text-align: right;

        @include tablet {
            font-size: 1.1rem;
        }
    }
    &__status-not-accepting {
        color: $red;
        text-align: right;

        @include tablet {
            font-size: 1.1rem;
        }
    }
}
